{
  "openapi": "3.1.0",
  "info": {
    "title": "Big Ball Sports API",
    "description": "Unified sports data API (REST + GraphQL + WebSocket) aggregating 19+\nfree-tier upstream sources and 10 MCP scrapers behind a Stripe-style\ngateway. Every response carries a confidence score and source attribution\nso callers can render appropriate caveats.\n",
    "version": "1.0.0",
    "contact": {
      "email": "support@bigballsdata.com"
    }
  },
  "servers": [
    {
      "url": "https://api.bigballsdata.com",
      "description": "Production"
    },
    {
      "url": "https://bbsgateway-production.up.railway.app",
      "description": "Production (Railway direct, fallback)"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Big Ball Sports API key. Or pass via `Authorization: Bearer <key>`."
      },
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "bbs_<env>_<32hex>"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 255
        },
        "description": "Stripe-style idempotency token. Retries with the same key within\n24h replay the original response without re-running the handler.\n"
      }
    },
    "responses": {
      "RateLimited": {
        "description": "Rate limited (`429`). Two causes share `error.code: rate_limited` and are\ntold apart by `error.message` and headers:\n  - **Quota exhaustion** (per-minute or per-day cap). The envelope is\n    enriched: `suggested_fix` names the next tier and its cap, and\n    `meta.current_usage` + `meta.upgrade_path` carry live usage and the\n    upgrade target. `X-RateLimit-Limit/-Remaining/-Reset` are present.\n  - **4xx circuit breaker** (sustained high 4xx rate — malformed\n    requests, or ignoring Retry-After and hammering past quota — key in\n    cooldown). Carries `X-RateLimit-4xx-Cooldown`; no `upgrade_path`.\nAdditive: existing parsers keying on `error.code`, `error.message`,\n`docs_url`, `support`, `meta.request_id` are unaffected.\n`X-RateLimit-Limit/-Remaining/-Reset` are returned on every authenticated\nresponse (2xx/4xx/5xx), not only on 429s, so clients can self-throttle.\n",
        "headers": {
          "Retry-After": {
            "description": "Seconds until the limit (or 4xx cooldown) resets.",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-Limit": {
            "description": "Effective request cap (tighter bucket).",
            "schema": {
              "type": "string"
            }
          },
          "X-RateLimit-Remaining": {
            "description": "Requests remaining in the tighter bucket.",
            "schema": {
              "type": "string"
            }
          },
          "X-RateLimit-Reset": {
            "description": "Unix seconds at which the tighter bucket resets.",
            "schema": {
              "type": "integer"
            }
          },
          "X-RateLimit-4xx-Cooldown": {
            "description": "Seconds remaining on the 4xx breaker cooldown (only on breaker 429s).",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "rate_limited"
                    },
                    "message": {
                      "type": "string",
                      "example": "Daily quota exhausted (1000 of 1000 requests used)"
                    }
                  }
                },
                "suggested_fix": {
                  "type": "string",
                  "description": "Quota 429 only — tier-aware upgrade guidance.",
                  "example": "Pace requests using the Retry-After and X-RateLimit-* response headers — handling guide: https://bigballsdata.com/docs/rate-limits. If you're regularly at this ceiling, the solo plan is $19/month and raises your daily limit to 10,000/day: https://bigballsdata.com/dashboard/billing?plan=solo."
                },
                "docs_url": {
                  "type": "string"
                },
                "support": {
                  "type": "object"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "current_usage": {
                      "type": "object",
                      "description": "Quota 429 only — live per-bucket usage.",
                      "properties": {
                        "minute": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer"
                            },
                            "limit": {
                              "type": "integer"
                            },
                            "resets_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        },
                        "day": {
                          "type": "object",
                          "properties": {
                            "used": {
                              "type": "integer"
                            },
                            "limit": {
                              "type": "integer"
                            },
                            "resets_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    },
                    "upgrade_path": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/UpgradePath"
                        }
                      ],
                      "description": "The upgrade target for THIS 429 — the next tier up the\nladder, because the caller's problem is volume.\n`recommended_tier` is null at the top self-serve tier.\n"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service temporarily unavailable (`503`). Returned when a backing query\nexceeds the endpoint's `statement_timeout` (Postgres cancels it) instead\nof holding the connection for seconds. Transient under heavy load —\nretry after a short delay. Standard error envelope with\n`error.code = upstream_unavailable`.\n",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "upstream_unavailable"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "docs_url": {
                  "type": "string"
                },
                "support": {
                  "type": "object"
                },
                "meta": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "schemas": {
      "NflPlayerWeekStat": {
        "type": "object",
        "description": "One player's stat line for one game-week. All stat fields are returned\nfor every row regardless of position: a quarterback row carries 0 or\nnull in the defensive columns, a linebacker row carries 0 or null in\nthe passing columns.\n\nDefensive columns are sourced from the nflverse weekly player file\n(CC BY 4.0) and cover 2020 onward at the same grain as the offensive\nones.\n\n**TACKLE TOTALS WILL NOT MATCH `/v1/stored/matches/{id}/stats`, and that\nis expected.** nflverse publishes three tackle counts and no combined\ntotal: `tackles_solo`, `tackle_assists` (assisted tackles the player\ntook part in) and `tackles_with_assist` (a much smaller, separate\ncount). The other endpoint serves a single `totalTackles` from a\ndifferent provider, at per-match rather than per-game-week grain, over\na different set of seasons.\n\nWe do NOT derive a combined total here. The usual definition is solo +\nassisted, but the exact relationship between nflverse's three counts\nwas not verified against a reference box score, and a plausible number\ncomputed from an unverified relationship is worse than no number — it\nis indistinguishable from a correct one. Add `tackles_solo` and\n`tackle_assists` yourself if you need a total, knowing that is your\ndefinition rather than ours.\n",
        "properties": {
          "player_id": {
            "type": "string",
            "example": "00-0033873",
            "description": "nflverse player id."
          },
          "player_name": {
            "type": "string",
            "nullable": true
          },
          "team": {
            "type": "string",
            "nullable": true,
            "description": "Team abbreviation the player suited up for that week."
          },
          "season": {
            "type": "integer",
            "example": 2025,
            "description": "Season LABEL — the year the season starts in."
          },
          "week": {
            "type": "integer",
            "example": 1
          },
          "season_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "REG",
              "POST",
              "PRE"
            ]
          },
          "position": {
            "type": "string",
            "nullable": true,
            "example": "WR"
          },
          "passing_yards": {
            "type": "integer",
            "nullable": true
          },
          "passing_tds": {
            "type": "integer",
            "nullable": true
          },
          "completions": {
            "type": "integer",
            "nullable": true
          },
          "attempts": {
            "type": "integer",
            "nullable": true
          },
          "rushing_yards": {
            "type": "integer",
            "nullable": true
          },
          "rushing_tds": {
            "type": "integer",
            "nullable": true
          },
          "carries": {
            "type": "integer",
            "nullable": true
          },
          "receiving_yards": {
            "type": "integer",
            "nullable": true
          },
          "receiving_tds": {
            "type": "integer",
            "nullable": true
          },
          "receptions": {
            "type": "integer",
            "nullable": true
          },
          "targets": {
            "type": "integer",
            "nullable": true
          },
          "fantasy_points_ppr": {
            "type": "number",
            "nullable": true,
            "description": "Standard PPR: 1/reception, 0.1/rush-rec yard, 0.04/pass yard, 6/TD, -2/int or fumble lost."
          },
          "interceptions": {
            "type": "integer",
            "nullable": true,
            "deprecated": true,
            "description": "DEPRECATED and ALWAYS NULL. The loader read a column nflverse does\nnot publish, so this was never written in any of 112,333 rows. The\nkey is retained only so existing clients do not break. Read\n`interceptions_thrown` or `interceptions_caught`, which say which\none they mean.\n"
          },
          "interceptions_thrown": {
            "type": "integer",
            "nullable": true,
            "description": "Interceptions thrown by this player — the quarterback turnover stat."
          },
          "interceptions_caught": {
            "type": "integer",
            "nullable": true,
            "description": "Interceptions caught by this player — the defensive takeaway stat."
          },
          "tackles_solo": {
            "type": "integer",
            "nullable": true,
            "description": "Unassisted tackles. Not a combined total — see the schema description before comparing against totalTackles elsewhere."
          },
          "tackle_assists": {
            "type": "integer",
            "nullable": true,
            "description": "Assisted tackles this player participated in. Not interchangeable with tackles_with_assist."
          },
          "tackles_with_assist": {
            "type": "integer",
            "nullable": true,
            "description": "Tackles made WITH an assist from a team-mate. A much smaller count than tackle_assists."
          },
          "tackles_for_loss": {
            "type": "integer",
            "nullable": true,
            "description": "Tackles made behind the line of scrimmage."
          },
          "tackles_for_loss_yards": {
            "type": "integer",
            "nullable": true,
            "description": "Yards lost by the offence on those tackles."
          },
          "sacks": {
            "type": "number",
            "nullable": true,
            "example": 1.5,
            "description": "Sacks credited. FRACTIONAL — a shared sack is credited as 0.5 to each defender."
          },
          "sack_yards": {
            "type": "number",
            "nullable": true,
            "description": "Yards lost on this player's sacks. Fractional for the same half-credit reason as sacks."
          },
          "qb_hits": {
            "type": "integer",
            "nullable": true,
            "description": "Hits on the quarterback",
            "sacks excluded.": null
          },
          "passes_defended": {
            "type": "integer",
            "nullable": true,
            "description": "Passes broken up without intercepting."
          },
          "fumbles_forced": {
            "type": "integer",
            "nullable": true,
            "description": "Fumbles forced. Forcing is not recovering; recoveries are not currently served."
          },
          "interception_yards": {
            "type": "integer",
            "nullable": true,
            "description": "Return yards on this player's interceptions. MAY BE NEGATIVE — a return can be tackled behind the catch point."
          },
          "defensive_tds": {
            "type": "integer",
            "nullable": true,
            "description": "Touchdowns scored on defence. Distinct from passing_tds / rushing_tds / receiving_tds on the same row."
          },
          "safeties": {
            "type": "integer",
            "nullable": true
          },
          "punt_blocks": {
            "type": "integer",
            "nullable": true
          },
          "pat_blocks": {
            "type": "integer",
            "nullable": true,
            "description": "Extra-point attempts blocked."
          },
          "fg_blocks": {
            "type": "integer",
            "nullable": true,
            "description": "Field-goal attempts blocked."
          },
          "defensive_two_point_attempts": {
            "type": "integer",
            "nullable": true,
            "description": "Two-point conversion returns attempted by the defence."
          },
          "defensive_two_point_conversions": {
            "type": "integer",
            "nullable": true,
            "description": "Two-point conversion returns scored by the defence."
          }
        }
      },
      "ResponseMeta": {
        "type": "object",
        "required": [
          "source",
          "confidence",
          "cached",
          "cache_age_ms",
          "request_id"
        ],
        "properties": {
          "source": {
            "type": "string",
            "description": "Opaque source-tier label. Customers never see the vendor identity.\n",
            "enum": [
              "official-league",
              "aggregator-paid",
              "aggregator-free",
              "community-scraper",
              "mixed",
              "cache",
              "none",
              "unknown-source"
            ],
            "example": "official-league"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "example": 0.95
          },
          "cached": {
            "type": "boolean"
          },
          "cache_age_ms": {
            "type": "integer",
            "example": 4200
          },
          "request_id": {
            "type": "string",
            "example": "req_abc123"
          },
          "fields_missing": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApiError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "example": "NOT_FOUND"
          },
          "message": {
            "type": "string"
          },
          "details": {}
        }
      },
      "Envelope": {
        "type": "object",
        "required": [
          "data",
          "meta",
          "error"
        ],
        "properties": {
          "data": {},
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "error": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/ApiError"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "FieldResult": {
        "type": "object",
        "required": [
          "value",
          "source",
          "via",
          "confidence",
          "fetchedAt",
          "ttlSeconds"
        ],
        "properties": {
          "value": {
            "description": "The canonical value for this field. Shape varies by FieldKey."
          },
          "source": {
            "type": "string"
          },
          "via": {
            "type": "string",
            "enum": [
              "api",
              "cache",
              "mcp"
            ]
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "fetchedAt": {
            "type": "string",
            "format": "date-time"
          },
          "ttlSeconds": {
            "type": "integer"
          }
        }
      },
      "CricketBattingCareer": {
        "type": "object",
        "required": [
          "innings",
          "not_outs",
          "runs",
          "balls_faced",
          "fifties",
          "hundreds",
          "ducks",
          "fours",
          "sixes"
        ],
        "properties": {
          "innings": {
            "type": "integer"
          },
          "not_outs": {
            "type": "integer",
            "description": "Innings ended undismissed (includes retired hurt / retired not out)."
          },
          "runs": {
            "type": "integer"
          },
          "balls_faced": {
            "type": "integer"
          },
          "average": {
            "type": [
              "number",
              "null"
            ],
            "description": "runs / dismissals. null when never dismissed."
          },
          "strike_rate": {
            "type": [
              "number",
              "null"
            ],
            "description": "Runs per 100 balls. null when no balls faced are recorded."
          },
          "highest_score": {
            "type": [
              "integer",
              "null"
            ]
          },
          "highest_score_not_out": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "The asterisk in cricket's `254*`."
          },
          "fifties": {
            "type": "integer",
            "description": "Scores of 50–99. A hundred counts only in `hundreds`."
          },
          "hundreds": {
            "type": "integer"
          },
          "ducks": {
            "type": "integer",
            "description": "Dismissed for 0."
          },
          "fours": {
            "type": "integer"
          },
          "sixes": {
            "type": "integer"
          }
        }
      },
      "CricketBowlingCareer": {
        "type": "object",
        "required": [
          "innings",
          "balls_bowled",
          "maidens",
          "runs_conceded",
          "wickets"
        ],
        "properties": {
          "innings": {
            "type": "integer"
          },
          "overs": {
            "type": [
              "string",
              "null"
            ],
            "description": "Cricket notation, e.g. \"206.4\" — 206 overs and 4 balls. Derived from balls_bowled."
          },
          "balls_bowled": {
            "type": "integer"
          },
          "maidens": {
            "type": "integer"
          },
          "runs_conceded": {
            "type": "integer"
          },
          "wickets": {
            "type": "integer"
          },
          "average": {
            "type": [
              "number",
              "null"
            ],
            "description": "runs conceded / wickets. null when wicketless."
          },
          "economy": {
            "type": [
              "number",
              "null"
            ],
            "description": "Runs conceded per over. null when no balls bowled."
          },
          "strike_rate": {
            "type": [
              "number",
              "null"
            ],
            "description": "Balls per wicket. null when wicketless."
          },
          "best_bowling": {
            "type": [
              "string",
              "null"
            ],
            "description": "Best innings figures as wickets/runs, e.g. \"5/23\". null when wicketless."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error",
          "docs_url",
          "support",
          "meta"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "example": "bad_request"
              },
              "message": {
                "type": "string",
                "example": "One or more query parameters are invalid."
              },
              "validation_errors": {
                "description": "Structured field errors (e.g. a zod flatten) when applicable."
              }
            }
          },
          "suggested_fix": {
            "type": "string",
            "description": "A concrete corrected request, present only when unambiguously inferable.",
            "example": "Lower limit to 200 or less, optionally add ?page=2 to page through results."
          },
          "docs_url": {
            "type": "string",
            "example": "https://bigballsdata.com/docs/errors"
          },
          "support": {
            "type": "object",
            "required": [
              "discord",
              "email"
            ],
            "properties": {
              "discord": {
                "type": "string",
                "example": "https://discord.gg/H2WJBQurbq"
              },
              "email": {
                "type": "string",
                "example": "support@bigballsdata.com"
              }
            }
          },
          "meta": {
            "type": "object",
            "required": [
              "request_id",
              "timestamp"
            ],
            "properties": {
              "request_id": {
                "type": "string",
                "example": "req_abc123"
              },
              "timestamp": {
                "type": "string",
                "format": "date-time"
              },
              "upgrade_path": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpgradePath"
                  }
                ],
                "description": "Present ONLY on the two errors where upgrading is the literal\nfix: the quota `429` and a plan-gate `403 forbidden`. Absent on\nevery other error, including the `403 key_paused` reactivation\nerror — a paused key is reactivated, not bought.\n"
              }
            }
          }
        }
      },
      "UpgradePath": {
        "type": "object",
        "description": "The machine-readable half of an upgrade prompt: what to buy, what it\ncosts, and where to buy it. Identical in shape on the quota `429` and\nthe plan-gate `403`, so one parser handles both — but note the two\nrecommend DIFFERENT things, correctly. The 429 recommends the next tier\nUP (the problem is volume); the 403 recommends the LOWEST tier that\nunlocks the endpoint (the problem is access), so a free key blocked on\nan Edge route is pointed at Edge, never at Solo.\n\nEvery figure is real: `price` is the published list price and\n`daily_limit` is the cap the gateway actually enforces. Nothing here is\ncomputed from a per-request rate, and there is no urgency or scarcity\nframing anywhere in these bodies.\n",
        "required": [
          "current_tier",
          "recommended_tier",
          "price",
          "daily_limit",
          "url"
        ],
        "properties": {
          "current_tier": {
            "type": "string",
            "description": "The caller's tier at the time of the error.",
            "example": "free"
          },
          "recommended_tier": {
            "type": "string",
            "nullable": true,
            "description": "Null only where there is nothing to recommend — the top of the\nself-serve ladder on a 429.\n",
            "example": "edge"
          },
          "price": {
            "type": "string",
            "nullable": true,
            "description": "Monthly list price. Null for a tier that is quoted rather than\nlisted (Enterprise), in which case `url` is the pricing page rather\nthan a checkout link.\n",
            "example": "$149/month"
          },
          "daily_limit": {
            "type": "integer",
            "nullable": true,
            "description": "Requests/day granted by `recommended_tier`; null if unmetered.",
            "example": 100000
          },
          "url": {
            "type": "string",
            "description": "Checkout, deep-linked to `recommended_tier`, whenever there is a\nlisted price to buy. Falls back to the pricing page when there is\nnot — we never deep-link a purchase that cannot complete.\n",
            "example": "https://bigballsdata.com/dashboard/billing?plan=edge"
          }
        }
      },
      "CanonicalId": {
        "type": "string",
        "description": "BigBalls canonical id. Format `bb_<entity>_<10-32 lowercase base32 chars>`.",
        "pattern": "^bb_(match|player|team|league|event|bout|card|circuit|session)_[a-z0-9]{10,32}$",
        "example": "bb_match_4q7m2tzkrhxa"
      },
      "Sport": {
        "type": "string",
        "enum": [
          "football",
          "basketball",
          "baseball",
          "ice_hockey",
          "cricket",
          "mma",
          "boxing",
          "formula1",
          "american_football"
        ]
      },
      "SessionType": {
        "type": "string",
        "enum": [
          "practice",
          "qualifying",
          "sprint",
          "race"
        ]
      },
      "MatchStatus": {
        "type": "string",
        "enum": [
          "scheduled",
          "in_progress",
          "finished",
          "postponed",
          "cancelled",
          "suspended"
        ]
      },
      "OddsMarket": {
        "type": "string",
        "enum": [
          "moneyline",
          "spread",
          "total",
          "btts",
          "draw_no_bet",
          "double_chance"
        ]
      },
      "SelectionName": {
        "type": "string",
        "enum": [
          "home",
          "away",
          "draw",
          "over",
          "under",
          "yes",
          "no",
          "home_or_draw",
          "away_or_draw",
          "home_or_away"
        ]
      },
      "MetricUnit": {
        "type": "string",
        "enum": [
          "count",
          "percent",
          "seconds",
          "meters",
          "unit"
        ]
      },
      "CricketFormat": {
        "type": "string",
        "enum": [
          "t10",
          "t20",
          "odi",
          "test",
          "first_class"
        ]
      },
      "FightMethod": {
        "type": "string",
        "enum": [
          "ko",
          "tko",
          "submission",
          "unanimous_decision",
          "split_decision",
          "majority_decision",
          "technical_decision",
          "disqualification",
          "no_contest",
          "draw"
        ]
      },
      "FightStance": {
        "type": "string",
        "enum": [
          "orthodox",
          "southpaw",
          "switch"
        ]
      },
      "SportInfo": {
        "type": "object",
        "properties": {
          "slug": {
            "$ref": "#/components/schemas/Sport"
          },
          "name": {
            "type": "string",
            "example": "Football"
          }
        }
      },
      "Team": {
        "type": "object",
        "required": [
          "id",
          "sport",
          "name"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "short_name": {
            "type": "string",
            "maxLength": 40
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "ISO 3166-1 alpha-3"
          },
          "founded_year": {
            "type": "integer",
            "minimum": 1800,
            "maximum": 2100
          }
        }
      },
      "Player": {
        "type": "object",
        "required": [
          "id",
          "sport",
          "full_name",
          "display_name"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "full_name": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "current_team_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "position": {
            "type": "string"
          },
          "shirt_number": {
            "type": "integer",
            "minimum": 0,
            "maximum": 99
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "nationality": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
          },
          "height_cm": {
            "type": "integer",
            "minimum": 120,
            "maximum": 260
          },
          "weight_kg": {
            "type": "number",
            "minimum": 35,
            "maximum": 250
          }
        }
      },
      "League": {
        "type": "object",
        "required": [
          "id",
          "sport",
          "name"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "name": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
          }
        }
      },
      "PeriodScore": {
        "type": "object",
        "required": [
          "period",
          "label",
          "home",
          "away"
        ],
        "properties": {
          "period": {
            "type": "integer",
            "minimum": 1,
            "maximum": 20
          },
          "label": {
            "type": "string"
          },
          "home": {
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          "away": {
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          }
        }
      },
      "Clock": {
        "type": "object",
        "required": [
          "elapsed_seconds",
          "period"
        ],
        "properties": {
          "elapsed_seconds": {
            "type": "integer",
            "minimum": 0
          },
          "period": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20
          },
          "added_seconds": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "Score": {
        "type": "object",
        "required": [
          "match_id",
          "home",
          "away",
          "status",
          "updated_at"
        ],
        "properties": {
          "match_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "home": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 500
          },
          "away": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 500
          },
          "status": {
            "$ref": "#/components/schemas/MatchStatus"
          },
          "period_scores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PeriodScore"
            }
          },
          "clock": {
            "$ref": "#/components/schemas/Clock"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Selection": {
        "type": "object",
        "required": [
          "name",
          "decimal_odds"
        ],
        "properties": {
          "name": {
            "$ref": "#/components/schemas/SelectionName"
          },
          "decimal_odds": {
            "type": "number",
            "minimum": 1.01,
            "maximum": 1000
          },
          "line": {
            "type": "number"
          }
        }
      },
      "Odds": {
        "type": "object",
        "required": [
          "match_id",
          "market",
          "selections",
          "updated_at"
        ],
        "properties": {
          "match_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "market": {
            "$ref": "#/components/schemas/OddsMarket"
          },
          "selections": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/Selection"
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Stat": {
        "type": "object",
        "required": [
          "metric",
          "value",
          "unit",
          "updated_at"
        ],
        "properties": {
          "match_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "team_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "player_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "metric": {
            "type": "string",
            "description": "Canonical metric name from a closed set."
          },
          "value": {
            "type": "number"
          },
          "unit": {
            "$ref": "#/components/schemas/MetricUnit"
          },
          "period": {
            "type": "integer",
            "minimum": 0,
            "maximum": 20
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Event": {
        "type": "object",
        "required": [
          "id",
          "match_id",
          "sequence",
          "clock",
          "type"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "match_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "sequence": {
            "type": "integer",
            "minimum": 1
          },
          "clock": {
            "$ref": "#/components/schemas/Clock"
          },
          "type": {
            "type": "string"
          },
          "team_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "player_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "related_player_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "FixtureTeamStatistics": {
        "type": "object",
        "description": "Post-match team stat line for one team. All stat fields are\nnullable — a metric a league doesn't track is null, and `expected_goals`\n(xG) is present only on covered leagues. Counts are integers; percentages\nand xG are numbers.\n",
        "properties": {
          "team_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "team_name": {
            "type": "string",
            "nullable": true
          },
          "af_team_id": {
            "type": "integer",
            "nullable": true,
            "description": "upstream team id"
          },
          "shots_on_target": {
            "type": "integer",
            "nullable": true
          },
          "shots_off_target": {
            "type": "integer",
            "nullable": true
          },
          "total_shots": {
            "type": "integer",
            "nullable": true
          },
          "blocked_shots": {
            "type": "integer",
            "nullable": true
          },
          "shots_inside_box": {
            "type": "integer",
            "nullable": true
          },
          "shots_outside_box": {
            "type": "integer",
            "nullable": true
          },
          "fouls": {
            "type": "integer",
            "nullable": true
          },
          "corner_kicks": {
            "type": "integer",
            "nullable": true
          },
          "offsides": {
            "type": "integer",
            "nullable": true
          },
          "ball_possession": {
            "type": "number",
            "nullable": true,
            "description": "percent 0-100"
          },
          "yellow_cards": {
            "type": "integer",
            "nullable": true
          },
          "red_cards": {
            "type": "integer",
            "nullable": true
          },
          "goalkeeper_saves": {
            "type": "integer",
            "nullable": true
          },
          "total_passes": {
            "type": "integer",
            "nullable": true
          },
          "accurate_passes": {
            "type": "integer",
            "nullable": true
          },
          "pass_percentage": {
            "type": "number",
            "nullable": true,
            "description": "percent 0-100"
          },
          "expected_goals": {
            "type": "number",
            "nullable": true,
            "description": "xG",
            "covered leagues only": null
          }
        }
      },
      "StandingRow": {
        "type": "object",
        "required": [
          "position",
          "team_id",
          "team_name",
          "played",
          "won",
          "drawn",
          "lost",
          "goals_for",
          "goals_against",
          "goal_difference",
          "points"
        ],
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          "team_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "team_name": {
            "type": "string"
          },
          "played": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "won": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "drawn": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "lost": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "goals_for": {
            "type": "integer",
            "minimum": 0
          },
          "goals_against": {
            "type": "integer",
            "minimum": 0
          },
          "goal_difference": {
            "type": "integer"
          },
          "points": {
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          }
        }
      },
      "Standings": {
        "type": "object",
        "required": [
          "league_id",
          "season",
          "rows",
          "updated_at"
        ],
        "properties": {
          "league_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "season": {
            "type": "string"
          },
          "rows": {
            "type": "array",
            "maxItems": 200,
            "items": {
              "$ref": "#/components/schemas/StandingRow"
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MatchSide": {
        "type": "object",
        "required": [
          "team_id",
          "team_name"
        ],
        "properties": {
          "team_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "team_name": {
            "type": "string"
          }
        }
      },
      "Match": {
        "type": "object",
        "required": [
          "id",
          "sport",
          "league_id",
          "start_time",
          "status",
          "home",
          "away",
          "updated_at"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "sport": {
            "$ref": "#/components/schemas/Sport"
          },
          "league_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "season": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/MatchStatus"
          },
          "home": {
            "$ref": "#/components/schemas/MatchSide"
          },
          "away": {
            "$ref": "#/components/schemas/MatchSide"
          },
          "venue": {
            "type": "string"
          },
          "score": {
            "$ref": "#/components/schemas/Score"
          },
          "round": {
            "type": "string",
            "nullable": true,
            "description": "Competition segment as the source names it, e.g. \"Regular Season - 2\" or \"Group Stage\". This is the axis to group gameweek analytics by: a postponed fixture keeps its round while its start_time moves by weeks, so bucketing by date splits one gameweek and merges another. Free text rather than an integer, because the phase carries meaning an integer would discard. Null where the source supplies none — currently populated for soccer only.",
            "example": "Regular Season - 2"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "SessionResult": {
        "type": "object",
        "required": [
          "position",
          "driver_id",
          "dnf"
        ],
        "properties": {
          "position": {
            "type": "integer",
            "minimum": 1,
            "maximum": 40,
            "description": "1-indexed finishing position."
          },
          "driver_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "team_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "driver_name": {
            "type": "string",
            "description": "Driver full name",
            "joined from the players table when available.": null
          },
          "team_name": {
            "type": "string",
            "description": "Constructor name",
            "joined from the teams table when available.": null
          },
          "best_lap_seconds": {
            "type": "number",
            "minimum": 30,
            "maximum": 600
          },
          "gap_to_leader_seconds": {
            "type": "number",
            "minimum": 0,
            "maximum": 7200
          },
          "laps_completed": {
            "type": "integer",
            "minimum": 0,
            "maximum": 200
          },
          "dnf": {
            "type": "boolean",
            "description": "True when the driver did not finish (mechanical",
            "accident": null,
            "DSQ).": null
          }
        }
      },
      "Session": {
        "type": "object",
        "required": [
          "id",
          "sport",
          "session_type",
          "league_id",
          "circuit_id",
          "start_time",
          "status",
          "results",
          "updated_at"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "sport": {
            "type": "string",
            "enum": [
              "formula1"
            ]
          },
          "session_type": {
            "$ref": "#/components/schemas/SessionType"
          },
          "league_id": {
            "$ref": "#/components/schemas/CanonicalId",
            "description": "GP weekend / round identifier."
          },
          "season": {
            "type": "string",
            "pattern": "^\\d{4}(-\\d{2,4})?$"
          },
          "circuit_id": {
            "$ref": "#/components/schemas/CanonicalId"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "$ref": "#/components/schemas/MatchStatus"
          },
          "results": {
            "type": "array",
            "maxItems": 40,
            "description": "Position ranking. Empty until the results worker has processed the session.",
            "items": {
              "$ref": "#/components/schemas/SessionResult"
            }
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Injury": {
        "$ref": "#/components/schemas/Player"
      },
      "OddsRow": {
        "$ref": "#/components/schemas/Odds"
      },
      "EventRow": {
        "$ref": "#/components/schemas/Event"
      },
      "Standing": {
        "$ref": "#/components/schemas/Standings"
      },
      "WebhookRegistration": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "match.score_update",
                "match.goal",
                "match.card",
                "match.substitution",
                "match.start",
                "match.end",
                "match.odds_move",
                "lineup.confirmed",
                "injury.update",
                "quota.warning",
                "quota.exhausted",
                "source.circuit_open"
              ]
            }
          },
          "secret": {
            "type": "string",
            "readOnly": true,
            "description": "HMAC-SHA256 secret. Shown once at creation."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true
          }
        }
      }
    }
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "bearer": []
    }
  ],
  "paths": {
    "/v1/sports": {
      "get": {
        "tags": [
          "sports"
        ],
        "summary": "List supported sports",
        "description": "Public — no API key required. Rate-limited by IP address instead of\nby key (see docs/rate-limits) so this stays keyless without becoming\nan abuse vector.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/SportInfo"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/leagues": {
      "get": {
        "tags": [
          "sports"
        ],
        "summary": "List leagues, optionally filtered by sport + country",
        "parameters": [
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/leagues/{id}/top-scorers": {
      "get": {
        "tags": [
          "sports"
        ],
        "summary": "Domestic-league top scorers (season aggregates)",
        "description": "Per-league leaderboard sourced from our soccer_player_season_stats\n(season aggregates), summing a player across their team\nrows in the season. Flat data[] shape: rank, player_name, team, goals,\nassists, minutes, matches (matches = season appearances). Supports a\n?category sort and excludes players with a zero in the sorted category.\nCovers the big-five leagues. 5-minute Redis cache keyed by\nleague+season+category+limit.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "epl",
                "laliga",
                "serie-a",
                "bundesliga",
                "ligue-1"
              ]
            },
            "description": "League code (epl, laliga, serie-a, bundesliga, ligue-1) or its raw numeric league id (39, 140, 135, 78, 61)."
          },
          {
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "goals",
                "assists",
                "minutes",
                "matches"
              ],
              "default": "goals"
            },
            "description": "Sort metric. Defaults to goals."
          },
          {
            "in": "query",
            "name": "season",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 2025
            },
            "description": "Season LABEL, not a calendar year: the year a season STARTS in. 2025 means the 2025-26 campaign for leagues that cross the new year (EPL, NBA, NHL) and the 2025 season for those that do not (MLB, MLS, WNBA). Filtering resolves each league's own start month, so a season never spans two calendar years' worth of rows."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of leaders to return."
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "unknown league code"
          }
        }
      }
    },
    "/v1/leagues/{id}/xg-leaders": {
      "get": {
        "tags": [
          "sports"
        ],
        "summary": "Domestic-league expected-goals leaderboard (season aggregates)",
        "description": "Per-league season xG leaderboard for the big-five European leagues,\n2014 through the current season. Ranks players by expected goals and\nexposes the surrounding shot-quality picture: xG, xA, npxG, xGChain,\nxGBuildup, plus goals, assists, shots, key passes, matches and minutes.\n`goals_above_xg` (goals minus xG) is derived for finishing over- and\nunder-performance.\n\nLEAGUE-LEVEL ONLY. Rows are keyed by player NAME, not by a BigBalls\n`player_id` — the xG-to-players entity bridge is not built yet,\nso a per-player or per-match xG surface would serve a mostly-empty\njoin. Those endpoints are not offered until that bridge lands; see\ndocs/scoping/soccer-xg-bridge.md. Season rows we cannot attribute to a\nleague are excluded, so this leaderboard only ever reflects players in\nthe league you asked for.\n\n`team` is the source team title verbatim and may be a comma-separated\nlist for a player who transferred mid-season. Refreshed daily;\n5-minute Redis cache keyed by league+season+stat+min_minutes+limit.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "epl",
                "laliga",
                "serie-a",
                "bundesliga",
                "ligue-1"
              ]
            },
            "description": "League code. Same vocabulary as /v1/leagues/{id}/top-scorers."
          },
          {
            "in": "query",
            "name": "stat",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "xg",
                "xa",
                "npxg",
                "goals",
                "assists",
                "shots",
                "key_passes"
              ],
              "default": "xg"
            },
            "description": "Sort metric. Defaults to xg."
          },
          {
            "in": "query",
            "name": "season",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 2014,
              "maximum": 2099
            },
            "description": "Season LABEL, not a calendar year: the year a season STARTS in. 2025 means the 2025-26 campaign for leagues that cross the new year (EPL, NBA, NHL) and the 2025 season for those that do not (MLB, MLS, WNBA). Filtering resolves each league's own start month, so a season never spans two calendar years' worth of rows."
          },
          {
            "in": "query",
            "name": "min_minutes",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 6000,
              "default": 0
            },
            "description": "Minimum minutes played. Defaults to 0 — no player is silently dropped."
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "description": "Number of leaders to return."
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "league",
                        "season",
                        "stat",
                        "min_minutes",
                        "leaders"
                      ],
                      "properties": {
                        "league": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The league code you requested."
                            },
                            "name": {
                              "type": "string",
                              "nullable": true
                            }
                          }
                        },
                        "season": {
                          "type": "integer"
                        },
                        "stat": {
                          "type": "string"
                        },
                        "min_minutes": {
                          "type": "integer"
                        },
                        "leaders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "rank": {
                                "type": "integer"
                              },
                              "player_name": {
                                "type": "string"
                              },
                              "team": {
                                "type": "string",
                                "nullable": true,
                                "description": "Source team title; a comma-list on a mid-season transfer."
                              },
                              "position": {
                                "type": "string",
                                "nullable": true
                              },
                              "matches": {
                                "type": "integer",
                                "nullable": true
                              },
                              "minutes": {
                                "type": "integer",
                                "nullable": true
                              },
                              "goals": {
                                "type": "integer",
                                "nullable": true
                              },
                              "assists": {
                                "type": "integer",
                                "nullable": true
                              },
                              "shots": {
                                "type": "integer",
                                "nullable": true
                              },
                              "key_passes": {
                                "type": "integer",
                                "nullable": true
                              },
                              "xg": {
                                "type": "number",
                                "nullable": true
                              },
                              "xa": {
                                "type": "number",
                                "nullable": true
                              },
                              "npxg": {
                                "type": "number",
                                "nullable": true
                              },
                              "xg_chain": {
                                "type": "number",
                                "nullable": true
                              },
                              "xg_buildup": {
                                "type": "number",
                                "nullable": true
                              },
                              "goals_above_xg": {
                                "type": "number",
                                "nullable": true
                              }
                            }
                          }
                        }
                      }
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "cached": {
                          "type": "boolean"
                        },
                        "cache_age_ms": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameter. Carries a suggested_fix naming the legal values.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "League has no xG coverage. The error names the leagues that do.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/matches": {
      "get": {
        "tags": [
          "matches"
        ],
        "summary": "List matches with filters",
        "description": "Filter the live and scheduled match list. Both ?sport= and ?league= are optional: a bare /v1/matches returns upcoming matches across all sports from storage. For multi-league sports such as football, a bare ?sport=football (no ?league=) returns 200 stored matches across all of that sport's leagues (with a note), NOT the live per-league feed — add ?league=epl (etc.), or use /v1/wc2026/matches for the World Cup, to get live scores. ?date accepts an ISO date (YYYY-MM-DD) or the literal 'today'.",
        "parameters": [
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "$ref": "#/components/schemas/Sport"
            }
          },
          {
            "in": "query",
            "name": "league",
            "schema": {
              "$ref": "#/components/schemas/CanonicalId"
            },
            "description": "Required for multi-league sports (e.g. football). League code such as epl, laliga, bundesliga, serie_a, ligue1, cl, mls."
          },
          {
            "in": "query",
            "name": "date",
            "schema": {
              "type": "string"
            },
            "description": "ISO date (YYYY-MM-DD) or the literal 'today' (resolves server-side to the current UTC date)."
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/MatchStatus"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Score"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters: an invalid ?date (not 'today' or YYYY-MM-DD), ?limit > 200, or an unknown sport/league value (e.g. ?sport=soccer — it's 'football'). A bare multi-league ?sport= is NOT a 400: it returns 200 stored matches. The error body includes validation_errors and a working example_url.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/matches/{id}": {
      "get": {
        "tags": [
          "matches"
        ],
        "summary": "Single match with selectable fields",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CanonicalId"
            }
          },
          {
            "in": "query",
            "name": "sport",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Sport"
            }
          },
          {
            "in": "query",
            "name": "fields",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated: scores,odds,lineups,stats,events,player_market_value"
          }
        ],
        "responses": {
          "200": {
            "description": "ok. `data` is keyed by FieldKey; each entry is a FieldResult-shaped envelope around the canonical value, or null when the field could not be satisfied.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": {
                            "oneOf": [
                              {
                                "type": "null"
                              },
                              {
                                "type": "object",
                                "required": [
                                  "value",
                                  "source",
                                  "via",
                                  "confidence",
                                  "fetchedAt",
                                  "ttlSeconds"
                                ],
                                "properties": {
                                  "value": {},
                                  "source": {
                                    "type": "string"
                                  },
                                  "via": {
                                    "type": "string",
                                    "enum": [
                                      "api",
                                      "cache",
                                      "mcp"
                                    ]
                                  },
                                  "confidence": {
                                    "type": "number",
                                    "minimum": 0,
                                    "maximum": 1
                                  },
                                  "fetchedAt": {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  "ttlSeconds": {
                                    "type": "integer"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/matches/{id}/odds": {
      "get": {
        "tags": [
          "matches"
        ],
        "summary": "Odds for a match (aggregated across bookmakers)",
        "description": "Latest odds snapshot for one match, aggregated across bookmakers (live\nadapter tier, falling back to the stored tier). **Edge plan or higher** —\nodds access starts at Edge; Free / Solo / Trio receive a 403 naming the\ntier and linking the docs and pricing pages. The same lines' history and\nCLV live at /v1/odds/historical (also Edge+).\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CanonicalId"
            }
          },
          {
            "in": "query",
            "name": "sport",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Sport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Odds"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "plan_required (Edge or higher)"
          }
        }
      }
    },
    "/v1/matches/{id}/events": {
      "get": {
        "tags": [
          "matches"
        ],
        "summary": "Play-by-play / match events",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CanonicalId"
            }
          },
          {
            "in": "query",
            "name": "sport",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Sport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Event"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/matches/{id}/statistics": {
      "get": {
        "tags": [
          "matches"
        ],
        "summary": "Per-team post-match team statistics (soccer)",
        "description": "Per-team team-stat line (possession, shots breakdown, fouls, corners,\noffsides, cards, GK saves, passes, pass %, and xG where covered) from\nthe upstream feed, persisted hourly into `fixture_statistics`. Soccer-only;\nthe linescore stays authoritative for goals.\n**Edge plan or higher** — full box-score depth starts at Edge; Free /\nSolo / Trio receive a 403 naming the tier and linking the docs and\npricing pages.\nStored-only — never fetches upstream. When a real match has no stats yet\n(the upstream posts within ~30 min of full-time, covered leagues only) the\nresponse is `200` with `meta.available=false` and null sides.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "home": {
                              "allOf": [
                                {
                                  "$ref": "#/components/schemas/FixtureTeamStatistics"
                                }
                              ],
                              "nullable": true
                            },
                            "away": {
                              "allOf": [
                                {
                                  "$ref": "#/components/schemas/FixtureTeamStatistics"
                                }
                              ],
                              "nullable": true
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "invalid match id"
          },
          "403": {
            "description": "plan_required (Edge or higher)"
          },
          "404": {
            "description": "no match found with that id"
          }
        }
      }
    },
    "/v1/teams/{id}": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "Team profile + current season stats",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/v1/players/{id}": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "Player profile + career stats",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/v1/players/{id}/stats": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "Player stats for a season + league",
        "description": "**Baseball responses carry a `level` field. Read it before summing anything.**\n\n- `level: \"match\"` — `batting`/`pitching` are totals folded from real\n  per-game box scores. 2026 onward.\n- `level: \"season\"` — no per-game box scores exist for the seasons\n  asked for. The numbers are full-season aggregates and are returned in\n  `seasons[]`, each entry additionally marked `level: \"season\"`.\n  `batting`/`pitching` are `null`.\n- `level: \"mixed\"` — both are present. `batting`/`pitching` (per-game\n  derived) and `seasons[]` (season aggregates) cover **disjoint**\n  periods; adding them together double-counts nothing but conflates two\n  different grains. Treat them separately.\n\nA season aggregate has no home/away dimension, so `?split=home|away`\nreturns no `seasons[]` entries rather than full-season totals that\nignore the filter. Fields a source cannot supply (e.g. pitch counts,\nwhich season-level history does not carry) are **omitted**, never\nreturned as `0`.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "sport",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Sport"
            },
            "description": "Required — the players table has no sport column, so this can't yet be inferred from the id (unlike /v1/teams/{id} and /v1/matches/{id})."
          },
          {
            "in": "query",
            "name": "season",
            "schema": {
              "type": "string"
            },
            "description": "Season LABEL, not a calendar year: the year a season STARTS in. 2025 means the 2025-26 campaign for leagues that cross the new year (EPL, NBA, NHL) and the 2025 season for those that do not (MLB, MLS, WNBA). Filtering resolves each league's own start month, so a season never spans two calendar years' worth of rows."
          },
          {
            "in": "query",
            "name": "league",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "split",
            "schema": {
              "type": "string",
              "enum": [
                "home",
                "away",
                "all"
              ]
            },
            "description": "Per-game splits (basketball + baseball). Season-level aggregates cannot be split and are omitted when this is set to home or away."
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "description": "invalid player id or missing/invalid sport"
          }
        }
      }
    },
    "/v1/players/{id}/gamelog": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "NBA player game log (flat per-game box lines)",
        "description": "Flat NBA per-game stat lines for a player, most recent first, one row per\ngame with min_played > 0. NBA-only; twin-safe across a player's id twins.\n`data` is a flat array of rows (date, opponent, abbr, min_played, pts,\nreb, ast, stl, blk, fg3m, turnovers, fgm, fga, ftm, fta, plus_minus,\npostseason). 5-minute Redis cache.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 50
            }
          },
          {
            "in": "query",
            "name": "postseason",
            "schema": {
              "type": "boolean"
            },
            "description": "true for playoff games only; omit for all games."
          },
          {
            "in": "query",
            "name": "season",
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            },
            "description": "Season LABEL, not a calendar year: the year a season STARTS in. 2025 means the 2025-26 campaign for leagues that cross the new year (EPL, NBA, NHL) and the 2025 season for those that do not (MLB, MLS, WNBA). Filtering resolves each league's own start month, so a season never spans two calendar years' worth of rows."
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "invalid player id or query"
          }
        }
      }
    },
    "/v1/standings": {
      "get": {
        "tags": [
          "standings"
        ],
        "summary": "League standings table",
        "parameters": [
          {
            "in": "query",
            "name": "league",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CanonicalId"
            }
          },
          {
            "in": "query",
            "name": "season",
            "schema": {
              "type": "string"
            },
            "description": "Season LABEL, not a calendar year: the year a season STARTS in. 2025 means the 2025-26 campaign for leagues that cross the new year (EPL, NBA, NHL) and the 2025 season for those that do not (MLB, MLS, WNBA). Filtering resolves each league's own start month, so a season never spans two calendar years' worth of rows."
          },
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "$ref": "#/components/schemas/Sport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Envelope"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Standings"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/coverage": {
      "get": {
        "tags": [
          "coverage"
        ],
        "summary": "What we hold, per sport and league — the discovery catalogue",
        "description": "The catalogue an agent reads to decide whether a dataset exists here, precomputed on a schedule and served from a snapshot. Every league we hold appears with its match counts, seasons, freshness and per-datatype coverage.\n\nVOCABULARY. `data_types` is the stable default and does not change. `?v=2` adds `data_types_v2` beside it, which answers questions about a GRAIN rather than a datatype: \"do you have xG\" is a v1 question, \"do you have PER-PLAYER xG\" is a v2 one. In v2 each measure carries its grains (subject x period, e.g. `team.match` or `player.season`), every grain declares the denominator its figures count, and `not_applicable` names measures that CANNOT apply to a league as distinct from ones we simply lack. `data.vocabulary` echoes which shape was served.\n\nv2 is opt-in because the summary answers most questions and the nested shape is only needed for grain questions. An unrecognised `?v=` serves v1 rather than failing: a catalogue call is discovery, and a query-string typo should not 400.",
        "parameters": [
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "$ref": "#/components/schemas/Sport"
            },
            "description": "Narrow to one sport or league; accepts any registry alias. Unknown values are a 400, never a silent empty."
          },
          {
            "in": "query",
            "name": "v",
            "schema": {
              "type": "string",
              "enum": [
                "2"
              ]
            },
            "description": "Set to `2` to include `data_types_v2` (grains, denominators, not_applicable) alongside the unchanged `data_types`. Omit for the stable v1 shape."
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "503": {
            "description": "The snapshot is still being built. Carries Retry-After; retry in about a minute."
          }
        }
      }
    },
    "/v1/injuries": {
      "get": {
        "tags": [
          "injuries"
        ],
        "summary": "Active injury reports",
        "description": "Injury reports by sport. What a row MEANS differs by league, because\ninjury data is a reporting artifact and leagues differ in what they\ncompel teams to disclose:\n\n- `american_football` — the NFL's **mandated** weekly injury report\n  (nflverse, CC BY 4.0). `status` is a league-defined game designation:\n  Out / Doubtful / Questionable. `comment` carries practice\n  participation. `player.position` is always present. Published per\n  week; `meta.as_of` is the date of the games that week's report covers.\n  **No `return_date`**: the NFL report is designation-based and states\n  no expected return, so the field is omitted rather than sent as a\n  permanent null. Only rows carrying a game designation are returned —\n  a player logging a full practice with no designation is not injured,\n  and is not listed.\n- `basketball`, `ice_hockey` — NBA / NHL reports from a paid aggregator\n  (`aggregator-paid`). Note the NHL requires no disclosure at all, so\n  NHL detail is vague at the league (\"upper-body\"), not at this API.\n- `football` — soccer absences from a paid aggregator\n  (`aggregator-paid`). Mostly\n  **retrospective**: a record that a player missed a fixture that has\n  been played, which includes non-injury absences such as suspension.\n  `meta.as_of` is the newest matchday held.\n- `baseball`, and everything else — not served; returns 400 naming the\n  sports that are.\n\nEndpoints that serve a stored snapshot always carry `meta.as_of` (the\ncurrency of the DATA, never the time we last ingested it) and set\n`meta.stale: true` with a plain-language `meta.message` when no fresher\ndata exists yet — e.g. between seasons.\n",
        "parameters": [
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "team",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "webhooks"
        ],
        "summary": "List your registered webhooks",
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "tags": [
          "webhooks"
        ],
        "summary": "Register a webhook subscription — NOT AVAILABLE, returns 501",
        "description": "Registration is closed. Webhook DELIVERY was never wired to anything, so no webhook has ever been sent and none would be sent to an endpoint registered today. Accepting a registration would promise traffic that never arrives, which is worse than not offering the feature, so this returns 501 rather than 201. Decision recorded 2026-09-01.\n\nFor live updates today use the WebSocket feed at wss://api.bigballsdata.com/live (Pro plan and above), or poll the REST API. GET /v1/webhooks and DELETE /v1/webhooks/{id} remain available so any existing registration can still be listed and removed.",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRegistration"
              }
            }
          }
        },
        "responses": {
          "501": {
            "description": "Not implemented. Webhook registration is closed while delivery is unwired. The body carries error.code = \"not_implemented\" and a suggested_fix pointing at the WebSocket feed and REST polling."
          }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "delete": {
        "tags": [
          "webhooks"
        ],
        "summary": "Deregister a webhook",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "deleted"
          },
          "404": {
            "description": "not found"
          }
        }
      }
    },
    "/v1/players": {
      "get": {
        "tags": [
          "players"
        ],
        "summary": "List players (filterable)",
        "parameters": [
          {
            "in": "query",
            "name": "sport",
            "schema": {
              "$ref": "#/components/schemas/Sport"
            }
          },
          {
            "in": "query",
            "name": "leagueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "teamId",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{id}/form": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "Recent finished matches with derived result (W/D/L from this team's perspective)",
        "description": "Recent finished matches with the result derived from this team's\nperspective (W/D/L), newest first.\n**Solo plan or higher** — derived team form starts at Solo; Free\nreceives a 403 naming the tier and linking the docs and pricing pages.\n",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "home": {
                            "type": "string",
                            "nullable": true
                          },
                          "away": {
                            "type": "string",
                            "nullable": true
                          },
                          "home_score": {
                            "type": "integer",
                            "nullable": true
                          },
                          "away_score": {
                            "type": "integer",
                            "nullable": true
                          },
                          "result": {
                            "type": "string",
                            "enum": [
                              "W",
                              "D",
                              "L"
                            ],
                            "nullable": true
                          },
                          "competition": {
                            "type": "string",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "invalid team id"
          },
          "403": {
            "description": "plan_required (Solo or higher)"
          }
        }
      }
    },
    "/v1/teams/{id}/stats": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "Aggregated team stats (W/D/L, goals, BTTS, O/U, form string)",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "tournament",
            "schema": {
              "type": "string",
              "enum": [
                "wc2026"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "matches_played": {
                          "type": "integer"
                        },
                        "matches_with_scores": {
                          "type": "integer"
                        },
                        "wins": {
                          "type": "integer"
                        },
                        "draws": {
                          "type": "integer"
                        },
                        "losses": {
                          "type": "integer"
                        },
                        "goals_scored": {
                          "type": "integer"
                        },
                        "goals_conceded": {
                          "type": "integer"
                        },
                        "goal_difference": {
                          "type": "integer"
                        },
                        "clean_sheets": {
                          "type": "integer"
                        },
                        "points": {
                          "type": "integer"
                        },
                        "form_string": {
                          "type": "string",
                          "description": "Last 5 results, oldest→newest e.g. 'WWDLW'"
                        },
                        "btts_rate": {
                          "type": "number",
                          "description": "Fraction of scored matches where both teams scored (0–1)"
                        },
                        "over_2_5_rate": {
                          "type": "number",
                          "description": "Fraction of scored matches with 3+ total goals (0–1)"
                        },
                        "avg_goals_scored": {
                          "type": "number"
                        },
                        "avg_goals_conceded": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "team not found or not in requested tournament"
          }
        }
      }
    },
    "/v1/teams/{id}/elo": {
      "get": {
        "tags": [
          "teams"
        ],
        "summary": "Team Elo rating, league rank, and league context (all rated leagues)",
[...]
